body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: orange;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
}

.title > h1 {
    color: black;
    padding: 10px;
    text-align: center;
}

.main {
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main form {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}

.main form label {
    color: white;
}

.main form input,
.main form select {
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

.footer h2 {
    text-align: center;
}