body {
    box-sizing: border-box;
}

.title {
    width: 50%;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
}

.title > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blak;
    padding: 10px;
    text-align: center;
}

.main {
    width: 50%;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main form {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}

.main form label {
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main form input {
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
}

.footer {
    width: 50%;
}
.footer h2 {
    text-align: center;
}